html {
    font-family: "Carrois Gothic", serif;
    font-weight: 400;
    font-size: larger;
}

p1 {
    display: block;
    font-size: 10pt;
    text-align: right;
}

.hovercon {
    position: relative;
    display: inline-block;
    cursor: help;
}

.hovermsg {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333333c1;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 10pt;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    width: 150%;
    font-weight: bold;
}

.hovercon:hover .hovermsg {
    opacity: 1;
    visibility: visible;
}

.pop {
    display: inline-block;
    width: fit-content; 
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms; 
    transform-origin: center;
}

.pop:hover {
    transform: scale(1.25) translateX(0.5rem) skewX(-10deg);
}

.pop.type2:hover {
    transform: scale(1.35) translateX(0);
    transform-origin: center;
    transition-duration: 200ms; 
}

.no {
    text-decoration: none;
    color: inherit;
}

.no.type2 {
    font-size:18pt;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 0.2rem;
}

body {
    background-image: url("/assets/bg.png"), url("https://i.imgur.com/mu2XlFQ.png");
    background-repeat: repeat;
    background-size: 300px;
}

.whitespace {
            background-color: #fff;
            padding: 30px;
            padding-bottom: 5px;
            padding-top: 5px;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.whitebox {
    width: 50%;
    margin: auto;
    text-align: center;
}

@media (max-width: 768px) {
    .whitebox {
        width: 80%;
    }
}

.box2 {
      border-radius:12px;
      border:2px solid black;
      padding: 10px;
      width: calc(80% - 2em);
}

.box3 {
    display: inline-block;
    border-radius: 12px;
    border: 2px solid black;
    padding: 0;
    overflow: hidden;
    width: fit-content;
  }
  
  .box3 img {
    display: block; 
    height: auto;
    margin: 0 auto;
  }  

.line1 {
    position:relative;
    height:1px;
    background-image:linear-gradient(to right, rgba(0,0,0, 0), rgb(0,0,0), rgba(0,0,0,0));
}

.flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 .flexbox > div {
    margin-bottom: 5px;
}

.sliderbox {
    overflow: hidden;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-radius: 12px;
    height: 300px;
    width: 100%;
}

.slider {
    background: url("/assets/sciadvslider.png") repeat-x;
    background-size: contain;
    height: 100%;
    width: 2500px;
    animation: slide 20s linear infinite;
    -webkit-animation: slide 20s linear infinite;
    -moz-animation: slide 20s linear infinite;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-1238px);
    }
}

.pattern1 {
    background-color:white;
    background-image:
    radial-gradient(black, rgba(0,0,0,0.2) 2px, transparent 40px),
    radial-gradient(black, rgba(0,0,0,0.15) 1px, transparent 30px),
    radial-gradient(black, rgba(0,0,0,0.1) 2px, transparent 40px),
    radial-gradient(rgba(0,0,0,0.4), rgba(255,255,255,0.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 10px 50px, 130px -50px, 70px 100px;
}