html {
    font-family: "Carrois Gothic", serif;
    font-weight: 400;
    font-size: larger;
}

p1 {
    display: block;
    font-size: 10pt;
    text-align: right;
}

.hovercon {
    position: relative;
    display: inline-block;
    cursor: help;
}

.hovermsg {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10pt;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    white-space: nowrap;
}

.hovercon:hover .hovermsg {
    opacity: 1;
    visibility: visible;
}

.pop {
    display: inline-block;
    width: fit-content; 
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms; 
    transform-origin: left;
}

.pop:hover {
    transform: scale(1.25) translateX(0.5rem) skewX(-10deg);
}

.no {
    text-decoration: none;
    color: inherit;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 0.2rem;
}