html {
  font-family: "Carrois Gothic", serif;
  font-weight: 400;
  font-size: larger;
}

p1 {
  display: block;
  font-size: 10pt;
  text-align: right;
}

.hovercon {
  position: relative;
  display: inline-block;
  cursor: help;
}

.hovermsg {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333333c1;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 10pt;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  width: 150%;
  font-weight: bold;
}

.hovercon:hover .hovermsg {
  opacity: 1;
  visibility: visible;
}

.pop {
  display: inline-block;
  width: fit-content;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transform-origin: center;
}

.pop:hover {
  transform: scale(1.25) translateX(0.5rem) skewX(-10deg);
}

.pop.type2:hover {
  transform: scale(1.35) translateX(0);
  transform-origin: center;
  transition-duration: 200ms;
}

.no {
  text-decoration: none;
  color: inherit;
}

.no.type2 {
  font-size: 18pt;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 0.2rem;
}

body {
  background-image: url("/assets/bg.png"),
    url("https://i.imgur.com/mu2XlFQ.png");
  background-repeat: repeat;
  background-size: 300px;
}

.whitespace {
  background-color: #fff;
  padding: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.whitebox {
  width: 50%;
  margin: auto;
  text-align: center;
}

.whitebox.type2 {
  width: 55%;
}

@media (max-width: 768px) {
  .whitebox {
    width: 80%;
  }
}

.box2 {
  border-radius: 12px;
  border: 2px solid black;
  padding: 10px;
  width: calc(80% - 2em);
  position: relative;
}

.box3 {
  display: inline-block;
  border-radius: 12px;
  border: 2px solid black;
  padding: 0;
  overflow: hidden;
  width: fit-content;
}

.box3 img {
  display: block;
  height: auto;
  margin: 0 auto;
}

.line1 {
  position: relative;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}

.flexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flexbox > div {
  margin-bottom: 5px;
}

.sliderbox {
  overflow: hidden;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-radius: 12px;
  height: 300px;
  width: 100%;
}

.slider {
  background: url("/assets/sciadvslider.png") repeat-x;
  background-size: contain;
  height: 100%;
  width: 2500px;
  animation: slide 25s linear infinite;
  -webkit-animation: slide 25s linear infinite;
  -moz-animation: slide 25s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1238px);
  }
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box2 > *:not(#particles-js) {
  position: relative;
}

h2 {
  margin-bottom:-2%
}

h1 {
  margin-bottom:-2%
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.image-container {
  flex: 1 1 calc(33.33% - 10px);
  max-width: calc(33.33% - 10px);
  min-width: 200px;
  text-align: center;
}

.image-grid img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  display: block;
  border-radius: 12px;
  border: black dashed 1px;
}

.gridsmaller .image-container {
  flex: 1 1 calc(25% - 10px);
  max-width: calc(25% - 10px);
}

.gridsmaller img {
  aspect-ratio: 2 / 3;
  border: 1px dashed black;
}


.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-top: 5px;
}

.tag {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 12px;
  padding: 4px 8px;
}


.tag.sciadv {
  background: #032D5D;
  color: white;
}

.tag.twewy {
  background: black;
  color: white;
}

.tag.aa {
  background: #017DBE;
  color: #FFF100;
}

.tag.re {
  background: black;
  color: red;
}

.tag.pd {
  background: #0A561A;
  color: white;
}