.tag.sciadv {
  background: #032d5d;
  color: white;
}

.tag.twewy {
  background: black;
  color: white;
}

.tag.aa {
  background: #017dbe;
  color: #fff100;
}

.tag.re {
  background: black;
  color: red;
}

.tag.pd {
  background: #0a561a;
  color: white;
}

.tag.os {
  background: #a76bfd;
  color: white;
}

.tag.twd {
  background: rgb(236, 236, 236);
  color: #73090b;
}

.tag.ak {
  background: #81291e;
  color: white;
}

.tag.yttd {
  background: #C6161C;
  color: white;
}